<div class="container px-4 py-5 text-center">
  <h2 class="pb-2 border-bottom text-center" style="color: #947057;">Ingredients & Allergique Information</h2>
</div>
<div class="container px-4 py-5 text-center">
  <p>
    <img src="assets/images/feast.jpg" alt="About Us" class="img-fluid ">
  </p>
  <h4 class="text-start mt-4 mb-4" style="color: #294D4A;">Bittersweet Bliss</h4>
  <p class="text-start mt-4 fs-5" style="color: #947057;">
    INGREDIENTS: unbleached wheat flour non-gmo, (Unbleached Hard Wheat Flour, Malted Barley Flour,
    Niacin, Reduced Iron, Thiamin Mononitrate, Riboflavin, Folic Acid), Barry Callebaut bittersweet
    chocolate (unsweetened chocolate, sugar, cocoa, soy lecithin), semisweet chocolate (cane sugar,
    chocolate liquor, cocoa butter, soy lecithin, vanilla extract), Valrhona cocoa, unsalted sweet
    cream butter, premium pure cane non-gmo sugar, eggs, pure vanilla extract, baking powder, organic
    confectioner’s sugar (evaporated cane juice, tapioca starch), and sea salt.
  </p>
  <h4 class="text-start mt-4 mb-4" style="color: #294D4A;">Dark Chocolate + Sea Salt</h4>
  <p class="text-start mt-4 fs-5" style="color: #947057;">
    INGREDIENTS: unbleached wheat flour non-gmo, (Unbleached Hard Wheat Flour, Malted Barley Flour,
    Niacin, Reduced Iron, Thiamin Mononitrate, Riboflavin, Folic Acid), unsalted sweet cream butter,
    dark chocolate pistoles (cocoa mass, sugar, fat reduced cocoa powder, soy lecithin, cocoa), granulated
    sugar, pure cane brown sugar, eggs, pure Madagascar vanilla paste, baking soda, sea salt.
  </p>
  <h4 class="text-start mt-4 mb-4" style="color: #294D4A;">Hiker</h4>
  <p class="text-start mt-4 fs-5" style="color: #947057;">
    INGREDIENTS: 100% rolled oats, unbleached wheat flour non-gmo, (Unbleached Hard Wheat Flour,
    Malted Barley Flour, Niacin, Reduced Iron, Thiamin Mononitrate, Riboflavin, Folic Acid),
    unsalted butter, honey, dried cherries, dried cranberries, dried apricots, unsweetened coconut,
    almonds, semisweet chocolate (cane sugar, chocolate liquor, cocoa butter, soy lecithin, vanilla extract),
    pistachios, pepitas, pure vanilla extract, baking soda, salt.
  </p>
  <h4 class="text-start mt-4 mb-4" style="color: #294D4A;">Salted Caramel Snickerdoodle</h4>
  <p class="text-start mt-4 fs-5" style="color: #947057;">
    INGREDIENTS: unbleached wheat flour non-gmo, (Unbleached Hard Wheat Flour, Malted Barley Flour, Niacin,
    Reduced Iron, Thiamin Mononitrate, Riboflavin, Folic Acid), unsalted sweet cream butter, granulated
    sugar, pure cane brown sugar, eggs, pure vanilla extract, cinnamon, cream of tartar, salt. Dulce de Leche:
    sweetened condensed milk.
  </p>
  <h4 class="text-start mt-4 mb-4" style="color: #294D4A;">Peanut Butter + More</h4>
  <p class="text-start mt-4 fs-5" style="color: #947057;">
    INGREDIENTS: natural peanut butter, unsalted sweet cream butter, unbleached wheat flour non-gmo,
    (Unbleached Hard Wheat Flour, Malted Barley Flour, Niacin, Reduced Iron, Thiamin Mononitrate, Riboflavin,
    Folic Acid), semisweet chocolate chips, milk chocolate chunks, pure cane brown sugar non-gmo, granulated
    sugar non-gmo, eggs, crushed pretzels, pure vanilla extract, baking soda, sea salt.
  </p>
  <h4 class="text-start mt-4 mb-4" style="color: #294D4A;">Oatmeal Medjool Date + Pecan</h4>
  <p class="text-start mt-4 fs-5" style="color: #947057;">
    INGREDIENTS: 100% rolled oats, unbleached wheat flour non-gmo, (Unbleached Hard Wheat Flour, Malted Barley Flour,
    Niacin, Reduced Iron, Thiamin Mononitrate, Riboflavin, Folic Acid), unsalted sweet cream butter, pure cane
    brown sugar non-gmo, Medjool dates, pecans, Thompson raisins, eggs, pure vanilla paste, cinnamon, baking soda, sal
  </p>
  <h4 class="text-start mt-4 mb-4" style="color: #294D4A;">Honey Lavender Shortbread</h4>
  <p class="text-start mt-4 fs-5" style="color: #947057;">
    INGREDIENTS: unbleached wheat flour non-gmo, (Unbleached Hard Wheat Flour, Malted Barley Flour, Niacin,
    Reduced Iron, Thiamin Mononitrate, Riboflavin, Folic Acid), unsalted sweet cream butter, pure cane non-gmo confectioner’s
    sugar, honey, pure vanilla extract, organic dried lavender buds, pure cane non-gmo granulated sugar, sea salt.
  </p>
  <h4 class="text-start mt-4 mb-4" style="color: #294D4A;">Rosemary Fig + Honey</h4>
  <p class="text-start mt-4 fs-5" style="color: #947057;">
    INGREDIENTS: unbleached wheat flour non-gmo, (Unbleached Hard Wheat Flour, Malted Barley Flour, Niacin, Reduced Iron,
    Thiamin Mononitrate, Riboflavin, Folic Acid), unsalted sweet cream butter, pure cane non-gmo confectioner’s sugar, honey,
    black mission figs, pure vanilla extract, organic rosemary, sea salt.
  </p>
  <h4 class="text-start mt-4 mb-4" style="color: #294D4A;">Allergen Information</h4>
  <p class="text-start mt-4 fs-5" style="color: #947057;">
    Produced in a facility that also processes or handles peanuts, other tree nuts, dairy and wheat.
  </p>
  <button type="button" class="btn btn-outline-primary mt-4 px-5 py-3">CONTACT US FOR MORE INFORMATION</button>
</div>
