
<div class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4">
  <div class="flex flex-col lg:flex-row justify-between gap-8">
    <div class="w-full lg:w-5/12 flex flex-col justify-center">
      <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-grey-500 pb-4">About Us</h1>
      <p class="font-normal text-base leading-6 text-gray-600 dark:text-grey-500">
        At Our Website, we are passionate about providing the best user experience for our visitors. Our team is committed to delivering high-quality content and exceptional service to all our users.

        Our Website was founded in 2023 with the aim of becoming a one-stop destination for Food Inclusion. Over the years, we have grown into a leading platform that offers a wide range of Recipes to our users.      </p>
    </div>
    <div class="w-full lg:w-8/12">
      <img class="w-full h-full rounded" src="assets/images/cake-chocolate-raspberry-dessert-fork-1920x1080.jpg" alt="A group of People" />
    </div>
  </div>

  <div class="flex lg:flex-row flex-col justify-between gap-8 pt-12">
    <div class="w-full lg:w-5/12 flex flex-col justify-center">
      <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-grey-500 pb-4">Our Story</h1>
      <p class="font-normal text-base leading-6 text-gray-600 dark:text-grey-500">
        Our mission is to make HEALTHY FOOD accessible to everyone, no matter where they are in the world. We strive to provide our users with a seamless and enjoyable experience, whether they are browsing our website, reading our articles, or interacting with our team.
      </p>
    </div>
    <div class="w-full lg:w-8/12 lg:pt-8">
      <div class="grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 lg:gap-4 shadow-lg rounded-md">
        <div class="p-4 pb-6 flex justify-center flex-col items-center rounded">
          <img class="md:block hidden rounded" src="assets/images/croisson.jpg" alt="Alexa featured Image" />
          <img class="md:hidden block rounded" src="assets/images/croisson.jpg" alt="Alexa featured Image" />
        </div>
        <div class="p-4 pb-6 flex justify-center flex-col items-center rounded">
          <img class="md:block hidden rounded" src="assets/images/pancake.jpg" alt="Olivia featured Image" />
          <img class="md:hidden block rounded" src="assets/images/pancake.jpg" alt="Olivia featured Image" />
        </div>
        <div class="p-4 pb-6 flex justify-center flex-col items-center rounded">
          <img class="md:block hidden rounded" src="assets/images/cocktail.jpg" alt="Liam featued Image" />
          <img class="md:hidden block rounded" src="assets/images/cocktail.jpg" alt="Liam featued Image" />
        </div>
        <div class="p-4 pb-6 flex justify-center flex-col items-center rounded">
          <img class="md:block hidden rounded" src="assets/images/feast.jpg" alt="Elijah featured image" />
          <img class="md:hidden block rounded" src="assets/images/feast.jpg" alt="Elijah featured image" />
        </div>
      </div>
    </div>
  </div>
</div>

