<!-- component -->
<header class="header sticky top-0 bg-white shadow-md flex items-center justify-between px-8 py-02 h-[8vh] z-10">
  <!-- logo -->
  <div class="h-full w-auto flex items-center">
    <a routerLink="home" class="h-full w-[140px]">
      <img src="assets/images/food-logo-1-01.png" class="w-full h-full" alt="">
    </a>
    <span class="text-xl bold">Hungy Munchies</span>
  </div>

  <!-- navigation -->
  <nav class="nav font-semibold text-lg">
    <ul class="flex items-center">
      <li
        class="p-4 border-b-2 border-amber-400 border-opacity-0 hover:border-opacity-100 hover:text-amber-800 duration-200 cursor-pointer">
        <a routerLink="home">Home</a>
      </li>
      <li
        class="p-4 border-b-2 border-amber-400 border-opacity-0 hover:border-opacity-100 hover:text-amber-800 duration-200 cursor-pointer">
        <a routerLink="/posts">Recipes</a>
      </li>
      <li
        class="p-4 border-b-2 border-amber-400 border-opacity-0 hover:border-opacity-100 hover:text-amber-800 duration-200 cursor-pointer">
        <a routerLink="/about-us">About Us</a>
      </li>
      <li
        class="p-4 border-b-2 border-amber-400 border-opacity-0 hover:border-opacity-100 hover:text-amber-800 duration-200 cursor-pointer">
        <a routerLink="/contact">Contact</a>
      </li>
      <li
        class="p-4 border-b-2 border-amber-400 border-opacity-0 hover:border-opacity-100 hover:text-amber-600 duration-200 cursor-pointer">
        <a routerLink="/policy">Policy</a>
      </li>
    </ul>
  </nav>

  <!-- buttons --->
  <div class="w-3/12 flex justify-end">
    <ul class="flex items-center">
      <!-- conditionally render login or logout button -->
      <ng-container *ngIf="!isLoggedIn(); else logoutButton">
        <li
          class="p-4 border-b-2 border-amber-400 border-opacity-0 hover:border-opacity-100 hover:text-amber-600 duration-200 cursor-pointer">
          <a routerLink="login">Log In</a>
        </li>
        <li
          class="p-4 border-b-2 border-amber-400 border-opacity-0 hover:border-opacity-100 hover:text-amber-600 duration-200 cursor-pointer">
          <a routerLink="signup">Sign Up</a>
        </li>
      </ng-container>
      <ng-template #logoutButton>
        <li
          class="p-4 border-b-2 border-amber-400 border-opacity-0 hover:border-opacity-100 hover:text-amber-600 duration-200 cursor-pointer">
          <a [routerLink]="['/profile', 3]">Profile</a>
        </li>
        <li
          class="p-4 border-b-2 border-amber-400 border-opacity-0 hover:border-opacity-100 hover:text-amber-600 duration-200 cursor-pointer">
          <a (click)="logout()">Log Out</a>
        </li>
      </ng-template>
    </ul>
  </div>
</header>
